In [1]:
import pandas as pd

In [2]:
root_path = './dataset/'

In [3]:
comportamiento_df = pd.read_csv(f'{root_path}comportamiento_tarjetasvisa.csv', sep = ',')

In [7]:
informacion_df = pd.read_csv(f'{root_path}informacion_adicional_tarjetas.csv', sep = ',')

In [15]:
comportamiento_df['ID_CLIENTE'].value_counts().shape[0]

45985

In [19]:
comportamiento_df.drop_duplicates()
comportamiento_df

         ID_CLIENTE  MESES  DIAS_VENCIDOS
0           5001711      0            NaN
1           5001711     -1           11.0
2           5001711     -2           16.0
3           5001711     -3           16.0
4           5001712      0            0.0
...             ...    ...            ...
1048570     5150487    -25            0.0
1048571     5150487    -26            0.0
1048572     5150487    -27            0.0
1048573     5150487    -28            0.0
1048574     5150487    -29            0.0

[1048575 rows x 3 columns]

In [27]:
comportamiento_df.isnull().sum()

ID_CLIENTE            0
MESES                 0
DIAS_VENCIDOS    209230
dtype: int64

In [41]:
grupo_df = comportamiento_df.groupby(["ID_CLIENTE","MESES"]).max()
grupo

                  DIAS_VENCIDOS
ID_CLIENTE MESES
5001711    -3              16.0
           -2              16.0
           -1              11.0
            0               NaN
5001712    -18             17.0
...                         ...
5150487    -4               0.0
           -3               0.0
           -2               0.0
           -1               0.0
            0               0.0

[1048575 rows x 1 columns]